*.xds
*.bld
Logic/SDRAM-IDE-68030/SDRAM_IDE.cmd_log
*.data
Logic/SDRAM-IDE-68030/SDRAM_IDE.gyd
*.lso
Logic/SDRAM-IDE-68030/SDRAM_IDE.mfd
*.mod
Logic/SDRAM-IDE-68030/SDRAM_IDE.nga
*.ngc
Logic/SDRAM-IDE-68030/SDRAM_IDE.ngd
*.ngr
Logic/SDRAM-IDE-68030/SDRAM_IDE.pad
*.pnx
*.prj
*.stx
Logic/SDRAM-IDE-68030/SDRAM_IDE.syr
*.tim
Logic/SDRAM-IDE-68030/SDRAM_IDE.tspec
*.xst
Logic/SDRAM-IDE-68030/SDRAM_IDE_build.xml
*.csv
Logic/SDRAM-IDE-68030/SDRAM_IDE_xst.xrpt
*.xml
Logic/SDRAM-IDE-68030/SDRAM_IDE.vm6
*.xrpt
Logic/SDRAM-IDE-68030/SDRAM_IDE_envsettings.html
*.xbcd
Logic/SDRAM-IDE-68030/xst/work/hdllib.ref
*.ref
Logic/SDRAM-IDE-68030/xst/work/sub00/vhpl00.vho
*.vho
*.xmsgs
*.lst
Logic/SDRAM-IDE-68030/SDRAM_IDE.rpt
*.js
Logic/SDRAM-IDE-68030/SDRAM_IDE_html/fit/appletref.htm
*.htm
Logic/SDRAM-IDE-68030/SDRAM_IDE_html/fit/ascii.tmp
*.gif
*.jpg
Logic/SDRAM-IDE-68030/SDRAM_IDE_html/fit/style.css
*.xmsgs
Logic/SDRAM-IDE-68030/_xmsgs/cpldfit.xmsgs
Logic/SDRAM-IDE-68030/log.txt